.row-header {
	margin: 0px auto;
	padding: 0px 0px;
}

.row-content {
	margin: 0px auto;
	padding: 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.carousel {
	background: #512da8;
}

.carousel .carousel-item {
	height: 200px;
}

.carousel .carousel-item img {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 300px;
}

.footer {
	margin: 0px auto;
	padding: 20px 0px;
	background: #d1c4e9;
}

.jumbotron {
	margin: 0px auto;
	padding: 70px 30px;
	background: #9575cd;
	color: floralwhite;
}

.address {
	font-size: 80%;
	margin: 0px;
	color: #0f0f0f;
}

body {
	padding: 0px 0px 0px 0px;
	z-index: 0;
}

.navbar-dark {
	background: #512da8;
}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

h3 > a:hover {
	color: black;
	text-decoration: none;
}

h3 > a {
	color: black;
}

#carouselButtons {
	right: 0px;
	position: absolute;
	bottom: 0px;
}

.modal-content .modal-header {
	background: none;
}

.modal-content .modal-body {
	background: none;
}
